* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
}

nav {
  background: gray;
  color: white;
  height: 5vh;
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  padding-top: 1rem;
}

a {
  /* text-decoration: none; */
  color: black;
}

.dashboard {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 15vh;
  justify-content: space-between;
}

.register {
  padding: 2rem;
}

.login {
  padding: 2rem;
}

.userLogged {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  padding-bottom: 1rem;
}

.loadHotel {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.hotel {
  background: gray;
  margin-bottom: 2rem;
}
